/*
Usage
.sidebar {
  width: 60%;
  float: left;
  margin: 0 2% 0 0;
  @include bp-small {
    width: 100%;
    float: none;
    margin: 0;
  }
}
Output
.sidebar {
  width: 60%;
  float: left;
  margin: 0 2% 0 0;
  @media only screen and (max-width: 30){
    .sidebar{width: 100%; float: none; margin: 0;}
  }
}
*/

/*pattern.svg
pattern.png
pattern@2x.png*/

/*
Usage
body {
  @include background-image('pattern');
}
*/

/*
Usage
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
*/

/*
Usage
.container-with-floated-children {
  @extend %clearfix;
}
*/

html,
body {
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

/*@font-face {
  font-family: "Alexxis Demo";
  src: url("/fonts/alexxis-demo/Alexxis Demo.ttf");
}
@font-face {
  font-family: "Android 7";
  src: url("/fonts/android-7/android_7.ttf");
}
@font-face {
  font-family: "Artypa";
  src: url("/fonts/artypa/Artypa-Regular.otf");
}
@font-face {
  font-family: "Game Front 7";
  src: url("/fonts/game-font-7/game_font_7.ttf");
}
@font-face {
  font-family: "Military Font 7";
  src: url("/fonts/military-font-7/military_font_7.ttf");
}
@font-face {
  font-family: "Printed Cicuit Board 7";
  src: url("/fonts/printed-circuit-board-7/printed_circuit_board-7.ttf");
}
@font-face {
  font-family: "RPM";
  src: url("/fonts/rpm/RPM.otf");
}
@font-face {
  font-family: "Ruler";
  src: url("/fonts/ruler/Ruler Regular.ttf");
}
@font-face {
  font-family: "Ruler Stencil";
  src: url("/fonts/ruler-stencil/Ruler Stencil Regular.ttf");
}
@font-face {
  font-family: "Simply Tall";
  src: url("/fonts/simply-tall/SimplyTall.ttf");
}
@font-face {
  font-family: "Taurus Mono";
  src: url("/fonts/taurus-mono/Taurus-Mono-Outline-Regular.otf");
}*/

@font-face {
  font-family: "Vila Madalena";
  src: url("/fonts/vila-madalena/vila madalena.otf");
}

#debughive #logo {
  /*font-family: "Android 7";
    font-family: "Game Front 7";
    font-family: "Military Font 7";
    font-family: "Ruler";
    font-family: "Ruler Stencil";
    font-family: "Simply Tall";*/
  font-family: "Vila Madalena";
  height: 520px;
  width: 500px;
  position: relative;
  margin: auto;
  z-index: 10;
  background-image: radial-gradient(circle closest-side, rgba(0, 0, 0, 0.5), transparent);
  border-radius: 50%;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#debughive #logo #logo_text {
  font-size: 48px;
  font-size: 3rem;
  font-weight: bold;
  color: #FFF;
  position: absolute;
  left: 346px;
  top: 154px;
  text-shadow: 0px 7px 16px rgba(0, 0, 0, 0.7);
  letter-spacing: -2px;
}

#debughive #logo div.debug .head {
  position: absolute;
  top: 50px;
  left: 226px;
  width: 52px;
  height: 91px;
  background: #000;
  /* default color */
  background: -webkit-linear-gradient(0deg, transparent 0px, #000 0px, #000 22.75px, transparent 22.75px), -webkit-linear-gradient(150deg, transparent 22.75px, #000 22.75px, #000 48.5px, transparent 48.5px), -webkit-linear-gradient(210deg, transparent 22.75px, #000 22.75px, #000 48.5px, transparent 48.5px), -webkit-linear-gradient(0deg, transparent 0px, #000 0px, #000 22.75px, transparent 22.75px), -webkit-linear-gradient(270deg, transparent 0px, #000 0px, #000 22.75px, transparent 22.75px), -webkit-linear-gradient(90deg, transparent 0px, #000 0px, #000 22.75px, transparent 22.75px);
  background-position: bottom 0.25px left, bottom 0.25px right, top 0.25px right, top 0.25px left, top left -7.02702703px, bottom left -7.02702703px;
  background-size: 61% 50.2%;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#debughive #logo div.debug .head .antena {
  background: #000;
  width: 10px;
  height: 30px;
  position: absolute;
}

#debughive #logo div.debug .head .antena.antena_l {
  top: 5px;
  right: 5px;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

#debughive #logo div.debug .head .antena.antena_r {
  bottom: 5px;
  right: 5px;
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}

#debughive #logo div.debug .head .antena div {
  position: absolute;
  top: -15px;
  left: -5px;
  background: #000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#debughive #logo div.debug .wing_l {
  position: absolute;
  top: 129px;
  left: 162px;
  width: 85px;
  height: 157.5px;
  background: #000;
  /* default color */
  background: -webkit-linear-gradient(0deg, transparent 0px, #000 0px, #000 39.375px, transparent 39.375px), -webkit-linear-gradient(150deg, transparent 39.375px, #000 39.375px, #000 81.75px, transparent 81.75px), -webkit-linear-gradient(210deg, transparent 39.375px, #000 39.375px, #000 81.75px, transparent 81.75px), -webkit-linear-gradient(0deg, transparent 0px, #000 0px, #000 39.375px, transparent 39.375px), -webkit-linear-gradient(270deg, transparent 0px, #000 0px, #000 39.375px, transparent 39.375px), -webkit-linear-gradient(90deg, transparent 0px, #000 0px, #000 39.375px, transparent 39.375px);
  background-position: bottom 0.25px left, bottom 0.25px right, top 0.25px right, top 0.25px left, top left -12.16216216px, bottom left -12.16216216px;
  background-size: 61% 50.2%;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#debughive #logo div.debug .wing_r {
  position: absolute;
  top: 129px;
  left: 258px;
  width: 85px;
  height: 157.5px;
  background: #FFF;
  /* default color */
  background: -webkit-linear-gradient(0deg, transparent 0px, #FFF 0px, #FFF 10px, transparent 10px), -webkit-linear-gradient(150deg, transparent 39.375px, #FFF 39.375px, #FFF 49.375px, transparent 49.375px), -webkit-linear-gradient(210deg, transparent 39.375px, #FFF 39.375px, #FFF 49.375px, transparent 49.375px), -webkit-linear-gradient(0deg, transparent 0px, #FFF 0px, #FFF 10px, transparent 10px), -webkit-linear-gradient(270deg, transparent 0px, #FFF 0px, #FFF 10px, transparent 10px), -webkit-linear-gradient(90deg, transparent 0px, #FFF 0px, #FFF 10px, transparent 10px);
  background-position: bottom 0.25px left, bottom 0.25px right, top 0.25px right, top 0.25px left, top left -12.16216216px, bottom left -12.16216216px;
  background-size: 61% 50.2%;
  background-repeat: no-repeat;
}

#debughive #logo .hexagon {
  position: absolute;
  color: #000;
  font-size: 36px;
  font-size: 2.25rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 157px;
  width: 180px;
  height: 157.5px;
  background: #FFF;
  /* default color */
  background: -webkit-linear-gradient(30deg, transparent 39.375px, #FFF 39.375px, #FFF 80.75px, transparent 80.75px), -webkit-linear-gradient(150deg, transparent 39.375px, #FFF 39.375px, #FFF 80.75px, transparent 80.75px), -webkit-linear-gradient(210deg, transparent 39.375px, #FFF 39.375px, #FFF 80.75px, transparent 80.75px), -webkit-linear-gradient(330deg, transparent 39.375px, #FFF 39.375px, #FFF 80.75px, transparent 80.75px), -webkit-linear-gradient(270deg, transparent 0px, #FFF 0px, #FFF 80.75px, transparent 80.75px), -webkit-linear-gradient(90deg, transparent 0px, #FFF 0px, #FFF 80.75px, transparent 80.75px);
  background-position: bottom .25px left, bottom .25px right, top .25px right, top .25px left, top center, bottom center;
  background-size: 49.15% 50.16%;
  background-repeat: no-repeat;
}

#debughive #logo .hexagon.active,
#debughive #logo .hexagon:active {
  color: #FFF;
  font-weight: bold;
  width: 180px;
  height: 157.5px;
  background: orange;
  /* default color */
  background: -webkit-linear-gradient(30deg, transparent 39.375px, orange 39.375px, orange 80.75px, transparent 80.75px), -webkit-linear-gradient(150deg, transparent 39.375px, orange 39.375px, orange 80.75px, transparent 80.75px), -webkit-linear-gradient(210deg, transparent 39.375px, orange 39.375px, orange 80.75px, transparent 80.75px), -webkit-linear-gradient(330deg, transparent 39.375px, orange 39.375px, orange 80.75px, transparent 80.75px), -webkit-linear-gradient(270deg, transparent 0px, orange 0px, orange 80.75px, transparent 80.75px), -webkit-linear-gradient(90deg, transparent 0px, orange 0px, orange 80.75px, transparent 80.75px);
  background-position: bottom .25px left, bottom .25px right, top .25px right, top .25px left, top center, bottom center;
  background-size: 49.15% 50.16%;
  background-repeat: no-repeat;
}

#debughive #logo .hexagon.one {
  top: 213px;
  left: 20px;
}

#debughive #logo .hexagon.two {
  top: 295px;
  left: 163px;
}

#debughive #logo .hexagon.three {
  top: 213px;
  left: 306px;
}

#debughive #hive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 500px;
  height: 100%;
  overflow: hidden;
  background: darkorange;
  /* Fallback (could use .jpg/.png alternatively) */
  background-color: #000;
  /* SVG fallback for IE 9 (could be data URI, or could use filter) */
  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  /* Firefox 3.6 - 15 */
  /* Opera 11.1 - 12 */
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000), to(orange));
  background-image: linear-gradient(to top, #000, orange);
}

#debughive #hive .connection_line {
  background: #FFF;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

#debughive #hive > div.container {
  position: absolute;
  top: -25%;
  left: -25%;
  width: 180%;
  max-width: 2750px;
  height: 110%;
  text-align: center;
}

#debughive #hive > div.container > div {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 140px;
  margin: 0 107px 4px -19px;
}

#debughive #hive > div.container .hexagon {
  position: absolute;
  color: transparent;
  font-size: 150px;
  text-align: center;
  line-height: 159px;
  width: 160px;
  height: 140px;
  background: #AAA;
  /* default color */
  background: -webkit-linear-gradient(30deg, transparent 35px, #AAA 35px, #AAA 72px, transparent 72px), -webkit-linear-gradient(150deg, transparent 35px, #AAA 35px, #AAA 72px, transparent 72px), -webkit-linear-gradient(210deg, transparent 35px, #AAA 35px, #AAA 72px, transparent 72px), -webkit-linear-gradient(330deg, transparent 35px, #AAA 35px, #AAA 72px, transparent 72px), -webkit-linear-gradient(270deg, transparent 0px, #AAA 0px, #AAA 72px, transparent 72px), -webkit-linear-gradient(90deg, transparent 0px, #AAA 0px, #AAA 72px, transparent 72px);
  background-position: bottom .25px left, bottom .25px right, top .25px right, top .25px left, top center, bottom center;
  background-size: 49.15% 50.16%;
  background-repeat: no-repeat;
}

#debughive #hive > div.container .hexagon.active,
#debughive #hive > div.container .hexagon:active {
  color: #FFF;
  width: 160px;
  height: 140px;
  background: orange;
  /* default color */
  background: -webkit-linear-gradient(30deg, transparent 35px, orange 35px, orange 72px, transparent 72px), -webkit-linear-gradient(150deg, transparent 35px, orange 35px, orange 72px, transparent 72px), -webkit-linear-gradient(210deg, transparent 35px, orange 35px, orange 72px, transparent 72px), -webkit-linear-gradient(330deg, transparent 35px, orange 35px, orange 72px, transparent 72px), -webkit-linear-gradient(270deg, transparent 0px, orange 0px, orange 72px, transparent 72px), -webkit-linear-gradient(90deg, transparent 0px, orange 0px, orange 72px, transparent 72px);
  background-position: bottom .25px left, bottom .25px right, top .25px right, top .25px left, top center, bottom center;
  background-size: 49.15% 50.16%;
  background-repeat: no-repeat;
}

#debughive #hive > div.container .hexagon:nth-child(1) {
  left: 0px;
  top: 0px;
}

#debughive #hive > div.container .hexagon:nth-child(2) {
  left: 126px;
  top: 75px;
}

.resume {
  font-family: "Calibri Light";
  font-size: 12pt;
  background: #FFF;
}

.resume img.logo {
  height: 120px;
  float: right;
  margin: 5px 20px -56px 0;
}

.resume div.column_1 {
  margin: 10px 20px;
  float: left;
}

.resume div.column_2 {
  clear: right;
  border-left: solid 1px #000;
  padding: 0 20px 0 40px;
  margin: 0 0 0 236px;
}

.resume div.column_1 > div,
.resume div.column_2 > div {
  padding: 20px 0;
  text-align: justify;
  text-justify: auto;
}

.resume h1 {
  font-size: 24pt;
  margin: 0;
}

.resume h2 {
  font-size: 18pt;
  margin: 0;
  color: steelblue;
}

.resume h3 {
  font-size: 14pt;
  margin: 0 0 5px;
  border-bottom: solid 1px #CCC;
}

.resume h4 {
  font-size: 12pt;
  margin: 0;
}

.resume p,
.resume ul {
  font-family: "Calibri Light";
  font-size: 10pt;
}

.resume .right {
  float: right;
}

.resume div.rating {
  margin: 0 0 5px;
}

.resume div.rating div {
  border-radius: 50%;
  border: solid 1px steelblue;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.resume div.rating.score_1 div:nth-child(1),
.resume div.rating.score_2 div:nth-child(-N+2),
.resume div.rating.score_3 div:nth-child(-N+3),
.resume div.rating.score_4 div:nth-child(-N+4),
.resume div.rating.score_5 div {
  border: solid 10px steelblue;
}

.resume a {
  color: steelblue;
  text-decoration: none;
}

.resume a:visited {
  color: steelblue;
}

.resume .sub_section {
  margin: 20px 0 0 0;
}

.resume .sub_section.reference {
  display: inline-block;
  vertical-align: top;
  margin: 20px 20px 0 0;
  width: 220px;
}

.resume .sub_section.reference a {
  display: block;
}

.resume #print {
  background-color: steelblue;
  color: #FFF;
  border: 0;
  border-radius: 0 0 10px 10px;
  width: 100px;
  padding: 20px 0 5px;
  text-align: center;
  margin-left: -50px;
  position: fixed;
  top: -10px;
  left: 50%;
  z-index: 100;
  font-size: 16pt;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 10px;
  -webkit-transition: top 0.7s ease-in-out;
  transition: top 0.7s ease-in-out;
}

.resume #print:focus {
  outline: none;
  top: -70px;
}

@media print {
  .resume #print {
    display: none;
  }

  .resume div.column_2 {
    width: 800px;
  }

  .resume .pagebreak {
    page-break-before: always;
  }

  .resume a {
    color: #000;
  }

  .resume a:visited {
    color: #000;
  }
}

.rental {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  font-size: 0.75rem;
}

.rental h3 {
  margin: 30px 0 5px;
  border-bottom: solid 1px #CCC;
}

.rental .column {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
}

.rental .column.size_2 {
  width: 50%;
}

.rental .column.size_4 {
  width: 25%;
}

.rental .column div {
  border-bottom: solid 1px #000;
}

.rental .address {
  margin: 10px 0;
  display: block;
}

.rental .address:visited {
  color: #000;
}

.rental .parties {
  margin: 10px 0;
}

.rental .parties .signature {
  height: 50px;
}

@media print {
  .rental .pagebreak {
    page-break-before: always;
  }

  .rental a {
    color: #000;
  }

  .rental a:visited {
    color: #000;
  }
}

[v-cloak] {
  display: none;
}

