/*
Usage
.sidebar {
  width: 60%;
  float: left;
  margin: 0 2% 0 0;
  @include bp-small {
    width: 100%;
    float: none;
    margin: 0;
  }
}
Output
.sidebar {
  width: 60%;
  float: left;
  margin: 0 2% 0 0;
  @media only screen and (max-width: 30){
    .sidebar{width: 100%; float: none; margin: 0;}
  }
}
*/

/*pattern.svg
pattern.png
pattern@2x.png*/

/*
Usage
body {
  @include background-image('pattern');
}
*/

/*
Usage
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
*/

/*
Usage
.container-with-floated-children {
  @extend %clearfix;
}
*/

html,
body {
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-image: url("http://debughive.com/public/images/tile_background.jpg");
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

div.logo {
  background-image: url("http://debughive.com/public/images/debug.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 500px;
  height: 500px;
  width: 500px;
  position: relative;
  margin: auto;
}

div.hexagon {
  position: absolute;
  width: 177px;
  height: 127px;
  background: transparent;
  color: transparent;
  font-size: 150px;
  text-align: center;
  line-height: 133px;
  font-family: arial;
}

div.hexagon:active {
  color: #FFF;
  margin-bottom: 15px;
  padding: 15px;
  background: #000;
  /* default color */
  background: -webkit-linear-gradient(30deg, transparent 50px, #000 50px), -webkit-linear-gradient(150deg, transparent 50px, #000 50px), -webkit-linear-gradient(210deg, transparent 50px, #000 50px), -webkit-linear-gradient(330deg, transparent 50px, #000 50px);
  background-position: bottom left, bottom right, top right, top left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

div.hexagon.one {
  top: 213px;
  left: 6px;
}

div.hexagon.two {
  top: 295px;
  left: 150px;
}

div.hexagon.three {
  top: 213px;
  left: 292px;
}

