
#debughive {

  #logo {
    $logo_color: #000;
    height: 520px;
    width: 500px;
    position: relative;
    margin: auto;
    z-index: 10;
    background-image: radial-gradient(circle closest-side, rgba(0,0,0,.5), rgba(0,0,0,0));
    @include border-radius(50%);
    @include no_select();
    div.debug {
      .head {
        position: absolute;
        top: 50px;
        left: 226px;
        @include half_hexagon($logo_color, 52px);
        @include rotate(-90deg);
        .antena {
          background: $logo_color;
          width: 10px;
          height: 30px;
          position: absolute;
          &.antena_l {
            top: 5px;
            right: 5px;
            @include rotate(60deg);
          }
          &.antena_r {
            bottom: 5px;
            right: 5px;
            @include rotate(120deg);
          }
          div {
            position: absolute;
            top: -15px;
            left: -5px;
            background: $logo_color;
            width: 20px;
            height: 20px;
            @include border-radius(50%);
          }
        }
      }
      .wing_l {
        position: absolute;
        top: 129px;
        left: 162px;
        @include half_hexagon($logo_color, 90px, false, 5px);
        @include rotate(180deg);
      }
      .wing_r {
        position: absolute;
        top: 129px;
        left: 258px;
        @include half_hexagon($logo_color, 90px, 10px, 5px);
      }
    }

    .hexagon {
      position: absolute;
      color: transparent;
      font-size: 150px;
      text-align: center;
      line-height: 159px;
      @include hexagon(#FFF, 90px);
      &.active,
      &:active {
        color: #000;
        @include hexagon(orange, 90px);
      }
      &.one {
        top: 213px;
        left: 20px;
      }
      &.two {
        top: 295px;
        left: 163px;
      }
      &.three {
        top: 213px;
        left: 306px;
      }
    }

  }

  #hive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 500px;
    height: 100%;
    overflow: hidden;
    background: darkorange;
    @include linear-gradient(#000, orange);

    & > div {
      position: absolute;
      top: -25%;
      left: -25%;
      width: 180%;
      max-width: 2760px;
      height: 110%;
      text-align: center;
      & > div {
        display: inline-block;
        position: relative;
        width: 160px;
        height: 140px;
        margin: 0 107px 4px -19px;
      }
      .hexagon {
        position: absolute;
        color: transparent;
        font-size: 150px;
        text-align: center;
        line-height: 159px;
        @include hexagon(#AAA, 80px);
        &.active,
        &:active {
          color: #FFF;
          @include hexagon(orange, 80px);
        }
        &:nth-child(1) {
          left: 0px;
          top: 0px;
        }
        &:nth-child(2) {
          left: 126px;
          top: 75px;
        }
      }
    }
  }
}